.center_div{
 
    margin: 20px auto;
    width: 60% ;
 
}

.bordeRedondo{
	padding: 10px 10px 10px 10px;
	margin: 10 auto;
	border: 1px solid gray;
	border-radius: 15px;
	background-color: rgba(255,255,255,.3);
}

h1, h2, h3{
	padding: 5px 5px 5px 5px;
	margin: 5px 5px ;
	
	color: black;
	text-shadow: 3px 3px rgba(0,0,0,.3);
}
img{
	padding: 20px 20px;
	margin: 20px 20px auto;
}
p{
	padding: 30px 15px 20px 15px;
	font-size: 22px;
}
body{
	font-family: "KarmaSuture"; 
	background-color: gray;
	background-image: url('../assets/espectrograma.png');
	background-repeat: no-repeat;
	background-attachment: fixed;  
	background-size: cover;
 
}

#bancoDeSeq{
 width:150px;   
}

@font-face {
	font-family: "C64 User Mono";
	src: url("../C64_Pro-STYLE.ttf");
 	font-weight: normal;
  	font-style: normal}

.mini-box{
	margin: 10px 0px 10px 0px;
	padding: 0px 0px 0px 0px;	
}

@font-face {
	font-family: "KarmaSuture";
	src: url("../KarmaSuture.ttf");
 	font-weight: normal;
  	font-style: normal}

#COMDASUARcontainer{

	background-image: url("../assets/sampoTV.png");
	background-size: auto;

	background-position:  center -20px;

  	

	background-repeat: no-repeat;

}

#textoDeEntrada{

}

label{
	margin-top: 15px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.txtArea{
	background-color: black;
	padding: 5px 5px 5px 5px;
	color: rgb(0,255,16);
	font-family: "C64 User Mono";
	font-size: 13px;
	margin: 10px 10px;

}

.btn{
	background-color: rgba(12,112,255,.5);
	margin: auto 10px;
	padding: 5px 5px 5px 5px;

}
div{
	margin: 5px 5px;
	#border: 1px solid black;
	padding: 2px 2px;
}
table, td, th{
	border: 1px solid black;
}

.btn{
	border: 1px solid black;
	box-shadow: 1px 2px 2px gray;

}