.center_div{
	background-color:rgba(250,255,255,.8);
	border-radius: 25px;
	padding: 20px 10px 20px 10px;
    margin: 20px auto;
    width: 60% ;
    border: 2px solid black;
}

.bordeRedondo{
	padding: 10px 10px 10px 10px;
	margin: 10 auto;
	border: 1px solid gray;
	border-radius: 15px;
	background-color: rgba(255,255,255,.3);
}



h1, h2, h3{
	padding: 30px 15px 20px 15px;
	margin: 20px 15px auto;
	
	color: black;
	text-shadow: 3px 3px rgba(0,0,0,.3);
}
img{
	padding: 20px 20px;
	margin: 20px 20px auto;
}
p{
	padding: 30px 15px 20px 15px;
	font-size: 22px;
}
body{
	font-family: "KarmaSuture"; 
	background-color: gray;
	background-image: url('../assets/espectrograma.png');
	background-repeat: no-repeat;
	background-attachment: fixed;  
	background-size: cover;
 
}

@font-face {
	font-family: "C64 User Mono";
	src: url("../C64_Pro-STYLE.ttf");
 	font-weight: normal;
  	font-style: normal}

@font-face {
	font-family: "KarmaSuture";
	src: url("../KarmaSuture.ttf");
 	font-weight: normal;
  	font-style: normal}

.txtArea{
	background-color: black;
	padding: 5px 5px 5px 5px;
	color: rgb(0,255,16);
	font-family: "C64 User Mono";
	font-size: 13px;
	margin: 10px 10px;

}
div{
	margin: 10px 10px;
	#border: 1px solid black;
}
table, td, th{
	border: 1px solid black;
}

.btn{
	border: 1px solid black;
	box-shadow: 1px 2px 2px gray;

}